{% extends 'base.html' %}
{% block content %}

<!-- context 변수인 a_question을 사용한다. -->
<h1>{{ a_question.subject }}</h1>
<div>{{ a_question.content }}</div>

<h5>{{ a_question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
  <ul>
    {% for answer in a_question.answer_set.all %}
    <li>{{ answer.content }}</li>
    {% endfor %}
  </ul>
</div>

<form action="{% url 'home:answer_create' a_question.id %}" method="POST">
  {% csrf_token %}
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <input type="submit" value="답변 등록">
</form>

{% endblock %}