{% extends 'base.html' %}
{% block content %}

<h1>{{ a_question.subject }}</h1>
<p>{{ a_question.content }}</p>
<p>{{ a_question.create_date }}</p>

<div>
  {{ a_question.answer_set.count }}개의 답변이 있습니다.
  {% for answer in a_question.answer_set.all %}
  <div class="card my-3">
    <p>{{ answer.content }}</p>
    <p>{{ answer.create_date }}</p>
  </div>
  {% endfor %}
  <form action="{% url 'home:answer_create' a_question.id %}" method="post">
    {% csrf_token %}
    <div>
      <textarea name="content" id="content" rows="10"></textarea>
    </div>
    <input type="submit" value="답변등록">
    <!-- {{ form.as_p }}대신 forms.py 사용 -->
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div>
      {% for field in form %}
      {% if field.errors %}
      <strong>{{ field.label }}</strong>
      {{ field.errors }}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
  </form>
</div>


{% endblock %}